<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeon.blog.mapper.BoardMapper">
	<select id="selectBoardList" resultType="hashmap" parameterType="hashmap">
       <![CDATA[
            SELECT id, user_id, name, title, content, cnt, c_cnt, register_date, update_date 
            FROM board
            ORDER BY id DESC
            LIMIT #{pageStart}, #{perPageNum}
        ]]>
	</select>
	
	<select id="boardListCnt" resultType="int">
        SELECT count(*)
        FROM board
	</select>
	
	<insert id="boardWrite" parameterType="UserVO">
        INSERT INTO board (user_id, name, title, content)
        VALUES (#{user_id}, #{name}, #{title}, #{content})
	</insert>
	
	<select id="boardRead" resultType="BoardVO">
        SELECT title, content
        FROM board
        WHERE id = #{id}
    </select>
    
    <select id="boardModifyForm" resultType="BoardVO">
        SELECT title, content
        FROM board
        WHERE id = #{id}
    </select>
    
    <update id="boardModify" parameterType="BoardVO">
        UPDATE board
        SET title = #{title},
            content = #{content},
            update_date = now()
        WHERE id = #{id}
    </update>
    
    <delete id="boardDelete" parameterType="int">
        DELETE FROM board
        WHERE id = #{id}
    </delete> 

</mapper>